    <div class="jumbotron">
      <div class="container">
        <h1>
          <%- if param[:title] -%>
          <%=h param[:title] %>
          <%- end -%>
        </h1>
      </div>
    </div>
    <div class="container">
      <%- if param[:photos] -%>
      <div class="row">
        <div class="col-md-12">
          <h2>写真一覧</h2>
          <%- param[:photos].each do |photo| -%>
            <a data-flickr-embed="true" data-header="true" data-footer="true" data-context="true"  href="https://www.flickr.com/photos/jircas/<%=h photo[:flickr_id] %>/in/dateposted/" title="<%=h photo[:title] %>"><img src="https://farm<%=h photo[:farm] %>.staticflickr.com/<%=h photo[:server] %>/<%=h photo[:flickr_id] %>_<%=h photo[:secret] %>_m.jpg" width="240" height="167" alt="<%=h photo[:title] %>"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
          <%- end -%>
        </div>
      </div>
      <%- end -%>
    </div>
